.button-wrapper {
  cursor: pointer;
  background-color: blue;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 8px;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    opacity: 0.8;
  }
  .label {
    color: white;
  }
}
